@font-face {
    font-family: 'logovariable';
    src: url('logovariableGX.ttf') format('truetype');
  
}

@font-face {
    font-family: 'logovariablesans';
    src: url('logovariablesansGX.ttf') format('truetype');
  
}