@font-face{
    font-family: 'Facade';
    src: url('Facade-Regular.woff') format('woff'),
         url('Facade-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Facade';
    src: url('Facade-Bold.woff') format('woff'),
         url('Facade-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
