stylesheet
@font-face{
    font-family: 'Trade';
    src: url('TradeGothicLTPro.woff') format('woff');
    font-weight: normal ;
    font-style: normal;
}

@font-face{
    font-family: 'Trade';
    src: url('TradeGothicLTPro-Obl.woff') format('woff');
    font-weight: normal;
    font-style: oblique;
}

@font-face{
    font-family: 'Trade';
    src: url('TradeGothicLTPro-bold-Obl.woff') format('woff');
    font-weight: bold;
    font-style: oblique;
}

@font-face{
    font-family: 'Trade';
    src: url('TradeGothicLTPro-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
